@mixin d-flex-center-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin d-flex-center-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin d-flex-center{
    display: flex;
    align-items: center;
    // justify-content: center;
}
@mixin padding-3{
    padding: 0 3em 0 3em; 
}

@mixin padding-3-all-responsive{
    padding: 3em; 
}
@mixin padding-4-all-responsive{
    padding: 4em; 
}

@mixin d-flex{
    display: flex;
}


@mixin text-center{
    text-align: center;
}